<div class="chat-container">
  <!-- Barra lateral com usuários e pesquisa -->
  <div class="users-list">
    <div class="search-bar">
      <div class="nameUser">
        <h1><a href="login">Falaê</a></h1>
        <p>|</p>
        <p>{{ myName }}</p>
      </div>
      <input
        type="text"
        placeholder="Pesquisar..."
        id="search-users"
        name="search"
        [(ngModel)]="searchTerm"
      />
    </div>

    <!-- Lista de usuários -->
    <div class="user" *ngFor="let user of filteredUsers" (click)="openChat(user.id)">
      <img src="/assets/img/user-avatar.jpg" alt="User Avatar" />
      <div class="user-info">
        <span class="user-name">{{ user.username }}</span>
        <span class="last-message">Ultima Mensagem!</span>
      </div>
    </div>
  </div>

  <!-- Área de chat com mensagens -->
  <div class="chat-box">
    <div class="messages">
      <div
        class="message"
        *ngFor="let message of chat.messages"
        [ngClass]="{
          sent: message.sender.id === myId,
          received: message.sender.id !== myId
        }"
      >
        <!-- <span class="message-author">{{ message.sender.username }}:</span> -->
        <span class="message-content">{{ message.contentMessage }}</span>
      </div>
    </div>

    <div class="chat-input">
      <input
        type="text"
        placeholder="Digite sua mensagem..."
        id="message-input"
        [(ngModel)]="message"
      />
      <button id="send-button" (click)="sendMessage()">Enviar</button>
    </div>
  </div>
</div>
