<div class="chat-container">

  <!-- Botão hamburguer no mobile -->
  <button class="menu-toggle" (click)="toggleMenu()" *ngIf="isMobile">
    &#9776;
  </button>

  <!-- Menu lateral (visível ou não baseado no estado) -->
  <div class="users-list" [class.active]="menuOpen || !isMobile">
    <div class="search-bar">
      <div class="nameUser">
        <h1><a href="login">Falaê</a></h1>
        <p>|</p>
        <p>{{ myName }}</p>
      </div>
      <input
        type="text"
        placeholder="Pesquisar..."
        [(ngModel)]="searchTerm"
      />
    </div>

    <!-- Lista de usuários -->
    <div
      class="user"
      *ngFor="let user of filteredUsers"
      (click)="openChat(user.id); closeMenu()"
    >
      <img src="/assets/img/user-avatar.jpg" alt="User Avatar" />
      <div class="user-info">
        <span class="user-name">{{ user.username }}</span>
        <span class="last-message">
          {{ user.lastMessage?.contentMessage || "Sem mensagens ainda." }}
        </span>
      </div>
    </div>
  </div>

  <!-- Chat -->
  <div class="chat-box">
    <div class="chat-header" *ngIf="selectedUser">
      <img src="/assets/img/user-avatar.jpg" alt="User Avatar" />
      <span class="chat-username">{{ selectedUser.username }}</span>
    </div>

    <div class="messages" #messagesContainer>
      <div
        class="message"
        *ngFor="let message of chat.messages"
        [ngClass]="{
          sent: message.sender.id === myId,
          received: message.sender.id !== myId
        }"
      >
        <span class="message-content">{{ message.contentMessage }}</span>
      </div>
    </div>

    <div class="chat-input">
      <input
        type="text"
        placeholder="Digite sua mensagem..."
        [(ngModel)]="message"
      />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
</div>
