/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #4f46e5;
  --background: #f4f4f5;
  --text-color: #1f2937;
  --input-bg: #fff;
  --input-border: #d1d5db;
  --radius: 12px;
  --shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  --chat-sent-bg: #918deb;
  --chat-received-bg: #363370;
}

body {
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
